* {

  --main-color: green;
  --main-dark-color: #20510A;
  --links-color: green;
  --links-hover-color: #66DF2E;
  --caret-color: green;
  --social-color: #658361;
  --title-color: #3c543f;
}

/***************/
/**** TAGS ****/
/***************/
h2, h4{
  color: var(--title-color);
  font-weight: bold;
}
code{
  font-size: 77%!important;
}

ul{
  list-style: none;
}
body{
  position: relative;
  min-height: 100vh;
}
code{
  border-radius: 5px;
}

.blog-post-body p{
  font-size: 0.9rem!important;
}
.blog-post-body img{
  display: block;
    max-width:100%;
    max-height:300px;
    width: auto;
    height: auto;
}


/**************/
/** CLASSES **/
/**************/
.d-flex .badge{
  margin-right: 10px;
}
.badge-pill{
  border-radius: 100%;
}
.badge-light{
  background-color: white;
}
.container{
  margin-right: 0;
  max-width: 95%!important;
}
.footer{
  position:  absolute;
  bottom: 0;
  width: 100%;
}
code .fa-check{
  color: green;
}


/** ARTICLES TREE VIEW **/
.article-list{
  list-style-type: none;
  margin:  0;
  padding: 0;
}

/**************/
/** IDENTIFIERS **/
/**************/
.step{
  color: green!important;
}




/** MEDIUM SCREEN SETTINGS **/
@media screen and (max-width: 1280px) and (min-width: 992px) {
  .container{
    max-width: 90%!important;
  }
  .header{
    width: 165px;
  }
  .right-bar > .p-md-5{
    padding: 3rem 3rem 3rem 0rem!important;
  }
  .right-bar{
    padding-left: 0;
  }

  .profile-image{
    width: 100px;
  }
}

/** MOBILE SETTINGS **/
@media screen and (max-width: 480px) {
  .blog-post-header .title{
    font-size: 1.3rem !important;
  }
  /** Deleted elements **/
  .profile-image{
    display: none;
  }
}